<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @contract.account %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @contract.customer %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contract.title %>
</p>

<p>
  <strong>Contract no:</strong>
  <%= @contract.contract_no %>
</p>

<p>
  <strong>Status:</strong>
  <%= @contract.status %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @contract.start_date %>
</p>

<p>
  <strong>Current end date:</strong>
  <%= @contract.current_end_date %>
</p>

<p>
  <strong>End date w options:</strong>
  <%= @contract.end_date_w_options %>
</p>

<p>
  <strong>Revenue to date:</strong>
  <%= @contract.revenue_to_date %>
</p>

<p>
  <strong>Funded amount:</strong>
  <%= @contract.funded_amount %>
</p>

<p>
  <strong>Company:</strong>
  <%= @contract.company %>
</p>

<p>
  <strong>Div pool:</strong>
  <%= @contract.div_pool %>
</p>

<p>
  <strong>Operating div:</strong>
  <%= @contract.operating_div %>
</p>

<p>
  <strong>Basis:</strong>
  <%= @contract.basis %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @contract.vehicle %>
</p>

<p>
  <strong>Contract type:</strong>
  <%= @contract.contract_type %>
</p>

<p>
  <strong>Ecs role:</strong>
  <%= @contract.ecs_role %>
</p>

<p>
  <strong>Signed contract amount:</strong>
  <%= @contract.signed_contract_amount %>
</p>

<p>
  <strong>Account ex:</strong>
  <%= @contract.account_ex %>
</p>

<p>
  <strong>Director:</strong>
  <%= @contract.director %>
</p>

<p>
  <strong>Project manager:</strong>
  <%= @contract.project_manager %>
</p>

<p>
  <strong>Cont admin:</strong>
  <%= @contract.cont_admin %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
